@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<div>
    <tr>
        <td colspan="4">
            <br />
            <h4><b>&nbsp;&nbsp;&nbsp;Announcements</b></h4>
            <hr />
            <div class="col-lg-10">
                <form action="#" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="list-group">
                                        <div>
                                            <button data-toggle="collapse" data-target="#sm" type="button" style="width: 670px" class="list-group-item">
                                                Cras justo odio
                                            </button>
                                            <div id="sm" class="collapse">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        hellodcnjdnvjdsvnfdnvdss fhushdfushdioh ioshfi dhi hioshgiahiushgiua  hgiu ahgiudhgiuhuih ughiaudhfgiuah
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <button data-toggle="collapse" data-target="#an1" type="button" style="width: 670px" class="list-group-item">
                                                Cras justo odio
                                            </button>
                                            <div id="an1" class="collapse">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        hellodcnjdnvjdsvnfdnvdss fhushdfushdioh ioshfi dhi hioshgiahiushgiua  hgiu ahgiudhgiuhuih ughiaudhfgiuah
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2 col-lg-offset-4">
                            <button type="submit" class="btn btn-primary">Remove</button>
                        </div>

                    </div>

                </form>
            </div>

        </td>
    </tr>
</div>
