
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<header style="background-color: #00ced1; color: black; font-size: 30px"><b>SCMProfit</b></header>
<h1><u>Welcome {fn}</u>
</h1>
<br/>
<div>
Dear {fn} {ln}<br/>
Thank you for registering with SCMProfit.<br/>
Your Request has been received and your account has been created with SCMProfit<br/>
You can view or re-update your details by logging in with following userid and password.<br/>
UserId: <br/>
Password:<br/>
Click on below link to activate your account<br/>
<a href="http://localhost:2021/Login/SignIn">CLick here to Login</a><br/>
You will be soon receiving confirmation email after SCMProfit is ready for Use.<br/>
please email us in case of any login assistance.<br/>
</div>
<div>    
Regards,<br/>
Administrator,SCMProfit<br/>
AurionPro SCM pvt. Ltd.<br/>
</div>
<footer style="background-color: #36a2ff; color: #ff2628; font-size: 15px; text-align: center"> &copy;copywrite AurionPro SCM pvt. Ltd.</footer>
</body>
</html>
