@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<div>

    <tr class="success">
        <td style="width: auto; text-align: center"><a href="#Selfhelp">Self Help</a></td>
        <td style="width: auto; text-align: center"><a href="#Templetes">Templetes</a></td>
        <td style="width: auto; text-align: center"></td>
        <td style="width: auto; text-align: center"></td>
    </tr>
    <tr>
        <div id="Selfhelp">
            <td colspan="4">
                <br />
                <h4><b>&nbsp;&nbsp;&nbsp;Self Help</b></h4>
                <hr />
                <div class="col-lg-10">
                    <form action="#" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="contact-website" class="col-lg-4 control-label">Videos:</label>

                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;How to Crate a New Office
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;How to Create a New Client
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;How to Create a New Party
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;How to Create a NewDebtor
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;How to Crate a New Vendor
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;How to Create a New Booking
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-lg-2 col-lg-offset-4">
                                <button type="submit" class="btn btn-primary">Download</button>
                            </div>
                        </div>
                    </form>
                </div>

            </td>
        </div>
    </tr>
    <tr>
        <div id="Templetes">
            <td colspan="4">
                <br />
                <h4><b>&nbsp;&nbsp;&nbsp;Templates</b></h4>
                <hr />
                <div class="col-lg-10">
                    <form action="#" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="contact-website" class="col-lg-4 control-label">Master Uploaded Templates:</label>

                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;Parties
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;Products
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;Debtors
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;Vendors
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;Product Profile
                                        <br />
                                        <input type="checkbox" id="">&nbsp;&nbsp;&nbsp;Locations
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-lg-2 col-lg-offset-4">
                                <button type="submit" class="btn btn-primary">Download</button>
                            </div>
                        </div>
                    </form>
                </div>

            </td>
        </div>
    </tr>

</div>

